<!DOCTYPE html>
<html lang="en" ng-app="takeit">
<head>
  <title>Takeit!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row-fluid takeit-header">
			<div class="span12">
				<%# flash.each do |name, msg| %>
					<%#= content_tag :div, msg, id: "flash_#{name}" %>
				<%# end %>
				<% if current_user %>
					<div class="pull-right">Hi <%= current_user.name %>!<br /><%= link_to "Sign out?", signout_path %></div>
				<% else %>
					<div class="pull-right"><%= link_to "Login with Google", "auth/google_oauth2", class: "btn btn-info" %></div>
				<% end %>
			</div>
		</div>
		<%= yield %>
	</div>

</body>
</html>
